[submodule "vagrant/puppet/modules/stdlib"]
	path = vagrant/puppet/modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "vagrant/puppet/modules/mysql"]
	path = vagrant/puppet/modules/mysql
	url = git://github.com/puppetlabs/puppetlabs-mysql.git
